.container-fluid
	.row
		.col-sm-3.col-md-2.sidebar
			ul.nav.nav-sidebar
				li.active
					a(href='http://192.168.0.8:3000/query', id='query') Query 
						span.sr-only (current)
				li
					a(href='http://192.168.0.8:3000/wells', id='wellPage') Well Page
				li
					a(href='#', id='analytics') Analytics
				li
					a(href='#', id='export') Export
			ul.nav.nav-sidebar
				li
					a(href='#', id='nav1') Nav item 1
				li
					a(href='#', id='nav2') Nav item 2
				li
					a(href='#', id='nav3') Nav item 3
				li
					a(href='#', id='nav4') Nav item 4
				li
					a(href='#', id='nav5') Nav item 5
			ul.nav.nav-sidebar
				li
					a(href='#', id='nav6') Nav item 6
				li
					a(href='#', id='nav7') Nav item 7
				li
					a(href='#', id='nav8') Nav item 8