.container-fluid
	.row
		.col-sm-3.col-md-2.sidebar
			ul.nav.nav-sidebar
				li.active
					a(href='http://localhost:3000/query', id='query') Query 
						span.sr-only (current)
				li
					a(href='http://localhost:3000/wells', id='wellPage') Well Page
				li
					a(href='#', id='wellGrid') Well Grid
				li
					a(href='#', id='analytics') Analytics
				li
					a(href='#', id='export') Export
			ul.nav.nav-sidebar
				li
					a(href='#', id='editWell') Edit Well
				li
					a(href='#', id='addWell') Add Well
			ul.nav.nav-sidebar
				li
					a(href='#', id='loadData') Load Data
				li
					a(href='#', id='manageUsers') Manage Users
				li
					a(href='#', id='accessControl') Access Control