doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= 'KellyBushing'
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/dashboard.css')
    link(rel='stylesheet', type='text/css', href='./stylesheets/select2.min.css')
    link(rel='icon' href='./images/favicon.ico')
    
    block headjs
    
  body
    include ./includes/topnavbar.jade
    include ./includes/sidenavbar.jade
            
    block content
    
    block javascript
      // Placed at the end of the document so the pages load faster
      script(src='./javascripts/jquery.min.js')
      script(src='./javascripts/select2.full.min.js')
      script(src='./javascripts/bootstrap.min.js')
      script.
        $(document).ready(function(){
          $('.stateProvince').select2();
        });
      script.
        $(document).ready(function(){
          $('ul.nav-sidebar > li > a').click(function(){
            var vClickedMenuItem = $(this).attr('id');
            $('ul.nav-sidebar > li').removeClass('active');
            $('a#' + vClickedMenuItem).parent('li').addClass('active');
          });
        });

    
    block footer
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      p.copyright © 2015 KellyBushing.com All rights reserved.